{% extends 'main.html' %} {% load tailwind_tags %} {% load static %} 
{% block title %} Shopping Cart | {% endblock title %}
{% block content %}


{% include 'navbar.html' %}


<br><br>
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/1.4.6/tailwind.min.css"
    />
    <style>
      @media (max-width: 768px) {
        .flex-col.md\:flex-row {
          flex-direction: column;
        }
        .md\:w-1\/5 {
          width: 100%;`
        }
        .md\:w-1\/5 + .md\:w-1\/5 {
          margin-left: 0;
          margin-top: 1rem;
        }
      }
    </style>
  </head>

  <body class="bg-gray-100">
    <div class="container mx-auto mt-5 px-4 sm:px-8">
      <div class="flex-col md:flex-row shadow-md my-10">
        <div class="w-full bg-white px-4 md:px-10 py-10">
          <div class="flex justify-between border-b pb-8">
            <h1 class="font-semibold text-2xl">Wishlist</h1>
            <h2 class="font-semibold text-2xl">{{total_items}} Items</h2>
          </div>
          <div class="flex flex-col md:flex-row mt-4 md:mt-10 mb-5">
            <h3
              class="font-semibold text-gray-600 text-xs uppercase w-full md:w-2/5"
            >
              Product Details
            </h3>
            <h3
              class="font-semibold text-center text-gray-600 text-xs uppercase w-1/5 md:w-1/5"
            >
             Price
            </h3>
          </div>
          {% if wishlist %}
          {% for item in wishlist %}
          <div
            class="flex flex-col md:flex-row items-center hover:bg-gray-100 -mx-4 px-4 py-5"
          >
            <div class="flex w-full md:w-2/5">
              <div class="w-20">
                <img
                  class="h-24"
                  src="{{ item.product.product_image1.url }}"
                  alt=""
                />
              </div>
              <div class="flex flex-col justify-between ml-4 flex-grow">
                <span class="font-bold text-sm">{{ item.product.name }}</span>
                <span class="text-red-500 text-xs">{{item.product.category}}</span>
                <a
                  href="{% url 'productview' item.product.category.slug item.product.slug %}"
                  class="font-semibold hover:text-red-500 text-gray-500 text-xs"
                  >View More</a
                >
              </div>
            </div>
            <span
              class="text-center w-full md:w-1/5 font-semibold text-sm mt-4 md:mt-0"
            >
              {{ item.product.selling_price | stringformat:'d' }}&#8377;
            </span>
            <div
              class="flex flex-col md:flex-row w-full md:w-auto mt-4 md:mt-0 ml-12"
            >
            <a href="{% url 'addtocart' item.product.id %}" ></a>
              <span
                class="text-center w-full md:w-auto font-semibold text-sm border p-2 bg-green-500 mb-4 md:mb-0 md:mr-4"
              >
                Add to Cart
              </span></a>
              <a href="{% url 'deletewishlistitem' item.product.id %}"></a>
              <span
                class="text-center w-full md:w-auto font-semibold text-sm border p-2 bg-green-500"
              >
                Remove
              </span></a>
            </div>
          </div>
{% endfor %}
          {% else %}
        <div>
           <h1 class="text-xl text-center w-[80%] mx-auto font-semibold leading-9 text-gray-800">Oh! You haven't any product in wishlist, Checkout your favourite items.</h1>
        </div>
          {% endif %}
          <!-- More product items -->

          <a
            href="#"
            class="flex font-semibold text-indigo-600 text-sm mt-4 md:mt-10"
          >
            <svg
              class="fill-current mr-2 text-indigo-600 w-4"
              viewBox="0 0 448 512"
            >
              <path
                d="M134.059 296H436c6.627 0 12-5.373 12-12v-56c0-6.627-5.373-12-12-12H134.059v-46.059c0-21.382-25.851-32.09-40.971-16.971L7.029 239.029c-9.373 9.373-9.373 24.569 0 33.941l86.059 86.059c15.119 15.119 40.971 4.411 40.971-16.971V296z"
              />
            </svg>
            Continue Shopping
          </a>
        </div>
        <div class="mt-2 float-right">
          <div
            class="flex font-semibold justify-between py-6 text-xl uppercase"
          >
            <span class="mr-20">Total cost</span>
            <span>{{total_amount}}</span>
          </div>
          <button
              class="bg-indigo-500 font-semibold hover:bg-indigo-600 py-3 text-sm text-white uppercase w-full"
            >
             <a href="{% url 'wishlisttocart' %}">Add to Cart</a>
            </button>
        </div>
      </div>
    </div>
  </body>
</html>
{% include 'homesupport.html' %} {% include 'footer.html' %} 


{% endblock content %}
