{% load static %}


<section class="overflow-auto flex">

        
    <div class="mx-4 flex ">
        {% for item in products %}
                <div class=" box-border w-60 p-4   shadow-md hover:scale-110 h-auto ">
  
                        <div>   
                        <a href="# "> <image class="prodimg" src=" {{ item.product_image1.url }}  ">
                            <div>
                                <h1 class="line-clamp-2 text-clip">
                                    {{ item.name }}
                                </h1>
                            </div>
                    </a>
                    </div>
                    <div>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star-half-full checked"></span>
                    <span><a href="# " class="text-sm text-gray-500">{{ item.rating_number }} rating</a></span>
                    </div>
  
                    <div>
                        <span class="font-semibold">&#8377;{{ item.selling_price | stringformat:'d' }} </span> <span class="text-xs font-semibold"> &nbsp; MRP: <s>{{ item.original_price | stringformat:'d' }} </s></span>
                                        </div>
                    <div>
                        <p class="text-sm  line-clamp-3">{{ item.small_description }}
                        </p>
                    </div>
  
                    <br/>
                    
                    <div>
                        <a href=" {% url 'productview' item.category.slug item.slug %} "
                        class="shadow hover:border-[#242f6f] border-[#242f6f] border-2 rounded-full focus:outline-none focus:border-[#242f6f] mt-4 px-7 py-2 text-white bg-[#242f6f] hover:bg-white hover:text-black"
                        >View More
                        </a>
                        </div> 
            </div>
            {% endfor %}
  
  
    </div>
  
  </section>
  
  