{% load static %} {% block content %}

<br />
<section class="text-center text-4xl pt-4 pb-4 mb-2">
  <h2 style="font-family: 'Trebuchet MS', sans-serif; font-weight: bold">
    Category
  </h2>
</section>

<section class="overflow-auto flex">
  {% for item in category %}


    <div class="mx-7 my-3 text-center">
      <div>
        <a href=" {% url 'collectionsview' item.slug %}">
          <img
            class="rounded-full"
            src=" {{ item.round_image.url }} "
            alt=" {{ item.name }} "
            width="132px"
            height="132px"
          />
        </a>
      </div>
      <div class="mt-3">
        <a
          class="shadow hover:border-[#242f6f] border-[#242f6f] border-2 rounded-full focus:outline-none focus:border-[#242f6f] px-12 py-2 text-white bg-[#242f6f] hover:bg-white hover:text-black"
          href=" {% url 'collectionsview' item.slug %}"
          > {{ item.name }}
        </a>
      </div>
    </div>


  {% endfor %}
</section>

{% endblock content %}
