{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script
      src="https://kit.fontawesome.com/9e444f4b7e.js"
      crossorigin="anonymous"
    ></script>
    <style>
      .bg-color {
        background-color: #242f6f;
      }
    </style>
  </head>
  <body>
    <!-- newsletter section -->
<div class="w-full">
  <div class="container flex flex-col xl:flex-row mx-auto px-5 py-8 xl:py-14 text-gray-500 bg-color">
    <div class="w-full mb-6 xl:mb-0 sm:text-center">
      <div class="mb-4 text-white text-3xl font-extrabold">
        Join 2,000+ subscribers
      </div>

      <div class="text-lg text-white">
        Join Buyjoi Email News Letter to receive Offers, Coupons etc.
      </div>
    </div>
    <form action="{% url 'index' %}" method="POST" class="w-full">
      {% csrf_token %}
      <div class="flex flex-col justify-center sm:flex-row gap-3 w-full">
        <input
          type="email"
          name="email"
          required=""
          placeholder="Enter your email"
          class="sm:w-2/4 h-12 p-3 text-gray-900 border border-solid border-blue-500 rounded-lg shadow focus:outline-none focus:border-blue-600"
        />
        <button
          type="submit"
          class="sm:w-1/4 h-12 text-white bg-blue-500 rounded-lg shadow transition-all duration-300 ease-in-out hover:bg-black focus:outline-none"
        >
          Subscribe
        </button>
      </div>
      <div class="mt-3 text-sm sm:text-center text-white">
      We care about your data in our
      <a href="{% url 'privacy' %}" target="_blank">
      <u class="cursor-pointer transition-all duration-300 ease-in-out hover:text-blue-500">
        privacy policy
      </u>
      </a>
    </div>
    </form>
  </div>
</div>
<!-- newsletter section end -->
    <div class="bg-gray-100 pt-5">
      <div
        class="max-w-screen-lg px-4 sm:px-6 text-gray-800 sm:grid md:grid-cols-4 sm:grid-cols-2 mx-auto"
      >
        <div class="mr-20 mt-5">
          <img
            src="{% static '/img/buyjoilogoweb.jpg' %}"
            height="auto"
            class="block mx-auto"
          />
          <p class="mt-5 text-left">
            Buyjoi is an Indian e-commerce company, based in Kolkata, India.
          </p>
        </div>
        <div class="p-5">
  <div class="uppercase text-blue-500 font-bold">
    Our Category
  </div>
  <ul class="list-disc pl-6">
    <li>
      <a class="my-3 block" href="{% url 'saree' %}">
        <span class="ml-2">Traditional Saree</span>
        <span class="text-teal-600 p-1"></span>
      </a>
    </li>
    <li>
      <a class="my-3 block " href="{% url 'kurti' %}">
        <span class="ml-2">Stylish Kurti</span>
        <span class="text-teal-600 text-sm p-1"></span>
      </a>
    </li>
    <li>
      <a class="my-3 block " href="{% url 'lehenga' %}">
        <span class="ml-2">Festive Lehenga</span>
        <span class="text-teal-600 text-xs p-1">New</span>
      </a>
    </li>
  </ul>
</div>
        <div class="p-5">
  <div class="text-sm uppercase text-blue-500 font-bold">
    Important Links
  </div>
  <ul class="list-disc pl-6">
    <li>
      <a class="my-3 block" href="{% url 'contact' %}">
        <span class="ml-2">Help Center</span>
        <span class="text-teal-600 text-xs p-1"></span>
      </a>
    </li>
    <li>
      <a class="my-3 block" href="{% url 'privacy' %}">
        <span class="ml-2">Privacy Policy</span>
        <span class="text-teal-600 text-xs p-1"></span>
      </a>
    </li>
    <li>
      <a class="my-3 block" href="{% url 'contact' %}">
        <span class="ml-2">Contact Us</span>
        <span class="text-teal-600 text-xs p-1"></span>
      </a>
    </li>
  </ul>
</div>
        <div class="p-5">
  <div class="text-sm uppercase text-blue-500 font-bold">
    Talk To Us
  </div>
  <a class="my-3 block" href="/#"
            > Got Questions ? Call Us</a
          >
  <a class="my-3 block text-2xl" href="tel:+91-9830440451"
            >+91 9830440451<span class="text-teal-600 text-xs p-1"></span
          ></a>
          <a class="my-3 block" href="mailto:care@buyjoi.com"
            ><i class="fa-solid fa-envelope" style="color: #0d0d0d;"></i> care@buyjoi.com<span class="text-teal-600 text-xs p-1"></span
          ></a>
          <a class="my-3 block" href="/#"
            ><i class="fa-solid fa-location-dot" style="color: #000000;"></i> Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus,
            sint. <span class="text-teal-600 text-xs p-1"></span></a
          >
          
        </div>
      </div>
    </div>

    <div class="bg-gray-100 border-t border-gray-300">
    <div class="container mx-auto py-4 px-30 flex flex-wrap flex-col sm:flex-row">
      <p class="text-gray-500 text-sm text-center sm:text-left mt-3">Copyright © 2023 Buyjoi. All rights reserved.
      </p>
      <span class="inline-flex sm:ml-auto sm:mt-0 mt-2 justify-center sm:justify-start">
        <a class="text-gray-500">
          <img
            src=" {% static '/img/payment option/PhonePe buyjoi.jpg' %}     "
            width="80px"
            height="auto"
          />
        </a>
        <a class="ml-3 text-gray-500">
          <img
            src=" {% static '/img/payment option/upi buyjoi.jpg' %}  "
            width="80px"
            height="auto"
          />
        </a>
        <a class="ml-3 text-gray-500">
          <img
            src=" {% static '/img/payment option/paytm buyjoi.jpg' %}  "
            width="80px"
            height="auto"
          />
        </a>
        <a class="ml-3 text-gray-500">
          <img
            src=" {% static '/img/payment option/google pay buyjoi.jpg' %}    "
            width="80px"
            height="auto"
          />
        </a>
      </span>
    </div>
  </div>


    
    <div class="z-50 fixed bottom-0 right-0 mb-4 mr-4 md:block hidden">
  <a href="https://api.whatsapp.com/send?phone=919830440451&text=Hi,%20landing%20from%20Buyjoi.com" target="_blank" rel="noopener noreferrer" className=" text-white  p-2">
      <img src="{% static '/img/whatsapp chat.png' %}" width="250" height="auto" >
  </a>
  </div>
</div>


<div class="z-50 fixed bottom-0 right-0 mb-4 mr-4 sm:block md:hidden hidden">
  <a href="https://api.whatsapp.com/send?phone=919830440451&text=Hi,%20landing%20from%20Buyjoi.com" target="_blank" rel="noopener noreferrer" className=" text-white  p-2">
      <img src="{% static '/img/whatsapp chat.png' %}" width="150" height="auto" >
  </a>
  </div>
</div>

<div class="z-50 fixed bottom-0 right-0 mb-4 mr-4 sm:hidden block">
  <a href="https://api.whatsapp.com/send?phone=919830440451&text=Hi,%20landing%20from%20Buyjoi.com" target="_blank" rel="noopener noreferrer" className=" text-white  p-2">
      <img src="{% static '/img/whatsapp chat.png' %}" width="100" height="auto" >
  </a>
  </div>
</div>
  </body>
</html>
