{% load static %}

<svg class="m-0" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
  <path
    fill="#21202b"
    fill-opacity="1"
    d="M0,96L40,96C80,96,160,96,240,117.3C320,139,400,181,480,186.7C560,192,640,160,720,165.3C800,171,880,213,960,213.3C1040,213,1120,171,1200,149.3C1280,128,1360,128,1400,128L1440,128L1440,320L1400,320C1360,320,1280,320,1200,320C1120,320,1040,320,960,320C880,320,800,320,720,320C640,320,560,320,480,320C400,320,320,320,240,320C160,320,80,320,40,320L0,320Z"
  ></path>
</svg>

<div class="bg-[#21202B] sm:flex sm:justify-center m-0 hidden">
  <div class="col-5">
    <h2
      class="md:text-2xl text-center sm:pt-[0.25em] text-white md:font-semibold"
    >
      Join Buyjoi Email News Letter to receive Offers, Coupons etc.
    </h2>
  </div>
  <div class="col-3">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;</div>
  <div class="mb-3 col-4 space-y-4 sm:flex sm:space-y-0">
    <div class="relative content-center">
      <form action="{% url 'index' %}" method="POST">
        {% csrf_token %}
      <label
        for="email"
        class="hidden mb-2 text-sm font-medium text-gray-900 dark:text-gray-300"
        >Email address</label
      >
      <div
        class="flex absolute inset-y-0 left-0 items-center pl-3 pointer-events-none"
      >
        <svg
          class="w-5 h-5 text-gray-500 dark:text-gray-400"
          fill="currentColor"
          viewBox="0 0 20 20"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M2.003 5.884L10 9.882l7.997-3.998A2 2 0 0016 4H4a2 2 0 00-1.997 1.884z"
          ></path>
          <path
            d="M18 8.118l-8 4-8-4V14a2 2 0 002 2h12a2 2 0 002-2V8.118z"
          ></path>
        </svg>
      </div>

      <input
        class="block p-3 pl-10 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 sm:rounded-none sm:rounded-l-lg focus:ring-primary-500 focus:border-primary-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
        placeholder="Enter your email"
        type="email"
        name="email"
        required=""
      />
    </div>
    <div>
      <button
        type="submit"
        class="py-3 mb-0 px-5 w-full text-sm font-medium text-center text-white rounded-lg border cursor-pointer bg-primary-700 border-primary-600 sm:rounded-none sm:rounded-r-lg hover:bg-primary-800 focus:ring-4 focus:ring-primary-300 dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800"
      >
        Subscribe
      </button>
    </div>
  </form>
  </div>
</div>

<div class="bg-[#21202b] m-0 hidden sm:block">
  <br />
  <hr class="mx-[7%] opacity-30" />
  <br />
</div>

{% comment %} main footer start here {% endcomment %}

<div class="bg-[#21202b] pb-10">
  <div class="md:flex mx-[7%] md:justify-between">
    <div class="md:w-[25%] mx-4">
      <img
        src=" {% static '/img/buyjoifooterlogo.jpg' %}   "
        width="150px"
        height="auto"
        class="block mx-auto"
      />
      <br />
      <p class="text-sm text-white md:text-center ">
        Buyjoi is an Indian e-commerce company, based in Kolkata, India. It was
        founded in April 2022. Buyjoi is one of the largest online marketplaces
        in India.
      </p>
    </div>

    <div class="block sm:hidden">
      <br/>
      <hr class="opacity-40 mx-9 py-2">
      <br/>
    </div>

    <div class="text-white">
      <h2 class="text-lg py-4 font-semibold sm:px-8">Important links</h2>
      <div class="flex justify-between">
        <div class="">
          <ul>
            <li class="sm:px-8">
              <a href=" {% url 'saree' %}">Saree</a>
            </li>
            <li class="sm:px-8">
              <a href=" {% url 'kurti' %}">Kurti</a>
            </li>
            <li class="sm:px-8">
              <a href=" {% url 'lehenga' %}">Lehenga</a>
            </li>
          </ul>
        </div>
        <div>
          <ul>
            <li class="px-8">
              <a href=" {% url 'privacy' %}">Privacy Policy</a>
            </li>
            <li class="px-8">
              <a href=" {% url 'contact' %}">Contact us</a>
            </li>

          </ul>
        </div>
      </div>
    </div>

    <div class="block sm:hidden">
      <br/>
      <hr class="opacity-40 mx-9 py-2">
      <br/>
    </div>

    <div class="text-white">
      <h2 class="text-lg py-4 font-semibold">Payment options</h2>
      <div class="flex gap-2 py-2">
        <div>
          <img
            src=" {% static '/img/payment option/cod buyjoi.jpg' %} "
            width="80px"
            height="auto"
          />
        </div>

        <div>
          <img
            src=" {% static '/img/payment option/upi buyjoi.jpg' %}  "
            width="80px"
            height="auto"
          />
        </div>

        <div>
          <img
            src=" {% static '/img/payment option/paytm buyjoi.jpg' %}  "
            width="80px"
            height="auto"
          />
        </div>

        <div>
          <img
            src=" {% static '/img/payment option/google pay buyjoi.jpg' %}    "
            width="80px"
            height="auto"
          />
        </div>
      </div>
      <div class="flex gap-2 py-2">
        <div>
          <img
            src=" {% static '/img/payment option/PhonePe buyjoi.jpg' %}     "
            width="80px"
            height="auto"
          />
        </div>

        <div>
          <img
            src=" {% static '/img/payment option/RuPay buyjoi.jpg' %}     "
            width="80px"
            height="auto"
          />
        </div>

        <div>
          <img
            src=" {% static '/img/payment option/Visa buyjoi.jpg' %}       "
            width="80px"
            height="auto"
          />
        </div>

        <div>
          <img
            src=" {% static '/img/payment option/MasterCard buyjoi.jpg' %}    "
            width="80px"
            height="auto"
          />
        </div>


      </div>
      <div class="flex gap-2 py-2">
        <div>
          <img
            src=" {% static '/img/payment option/emi buyjoi.jpg' %}        "
            width="80px"
            height="auto"
          />
        </div>

        <div>
          <img
            src=" {% static '/img/payment option/PayPal buyjoi.jpg' %}       "
            width="80px"
            height="auto"
          />
        </div>

        <div>
          <img
            src=" {% static '/img/payment option/diners buyjoi.jpg' %}  "
            width="80px"
            height="auto"
          />
        </div>

        <div>
          <img
            src=" {% static '/img/payment option/Amex buyjoi.jpg' %}    "
            width="80px"
            height="auto"
          />
        </div>
      </div>
    </div>
  </div>
</div>




{% comment %} bottom footer start {% endcomment %}

<div class="py-2 sm:flex text-sm justify-center">

  <div class=" px-4">
    <p >
      Copyright © 2022 Buyjoi. All rights reserved.</p>
  </div>

  <div class=" px-4 hover:text-orange-600">
    <a href=" {% url 'privacy' %} ">Privacy Policy</a>
  </div>
  <div class=" px-4 text-sm hover:text-orange-600">
    <a href="mailto:care@buyjoi.com"> 
     Customer Support &nbsp;<i class="fa-solid fa-envelope"></i>&nbsp; care@buyjoi.com </a>
  </div>
  <div class=" px-4 text-sm hover:text-orange-600">
    <a href="tel:+91-9830440451"> 
     Call Us &nbsp;<i class="fa-solid fa-envelope"></i>&nbsp; +91-9830440451 </a>
  </div>

  <div class=" px-4">
    Follow here for more Updates:
    <a href="https://www.facebook.com/profile.php?id=100088068714675" target="_blank"><i
        class="px-2 fa-brands fa-facebook hover:text-orange-600"></i></a>
    <a href="https://twitter.com/Buyjoi_com" target="_blank"><i class="hover:text-orange-600 px-2 fa-brands fa-twitter"></i></a>
    <a href="https://www.linkedin.com/company/buyjoicom" target="_blank"><i
        class="px-2 fa-brands fa-linkedin hover:text-orange-600"></i></a>
    <a href="https://www.instagram.com/buyjoi/" target="_blank"><i
        class="px-2 fa-brands fa-instagram hover:text-orange-600"></i></a>
    </div>


</div>

<div class="z-50 fixed bottom-0 right-0 mb-4 mr-4 md:block hidden">
  <a href="https://api.whatsapp.com/send?phone=919830440451&text=Hi,%20landing%20from%20Buyjoi.com" target="_blank" rel="noopener noreferrer" className=" text-white  p-2">
      <img src="{% static '/img/whatsapp chat.png' %}" width="250" height="auto" >
  </a>
  </div>
</div>


<div class="z-50 fixed bottom-0 right-0 mb-4 mr-4 sm:block md:hidden hidden">
  <a href="https://api.whatsapp.com/send?phone=919830440451&text=Hi,%20landing%20from%20Buyjoi.com" target="_blank" rel="noopener noreferrer" className=" text-white  p-2">
      <img src="{% static '/img/whatsapp chat.png' %}" width="150" height="auto" >
  </a>
  </div>
</div>

<div class="z-50 fixed bottom-0 right-0 mb-4 mr-4 sm:hidden block">
  <a href="https://api.whatsapp.com/send?phone=919830440451&text=Hi,%20landing%20from%20Buyjoi.com" target="_blank" rel="noopener noreferrer" className=" text-white  p-2">
      <img src="{% static '/img/whatsapp chat.png' %}" width="100" height="auto" >
  </a>
  </div>
</div>

{% comment %} bottom footer end {% endcomment %}