<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <script
      src="https://kit.fontawesome.com/9e444f4b7e.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <div
      id="services"
      class="section relative pt-20 pb-8 md:pt-4 md:pb-0 bg-white"
    >
      <div class="container xl:max-w-6xl mx-auto px-4">
        <!-- row -->
        <div class="flex flex-wrap -mx-4 text-center">
          <div
            class="flex-shrink px-4 w-full sm:w-1/2 md:w-1/2 lg:w-1/4 lg:px-2 wow fadeInUp"
            data-wow-duration="1s"
            style="
              visibility: visible;
              animation-duration: 1s;
              animation-name: fadeInUp;
            "
          >
            <!-- service block -->
            <div
              class="py-8 px-12 mb-12 bg-gray-50 border-b border-gray-100 transform transition duration-300 ease-in-out hover:-translate-y-2"
            >
              <div class="flex">
                <div class="inline-block text-gray-900 mb-4">
                  <i
                    class="fa-sharp fa-solid fa-truck-fast fa-2xl mr-5"
                    style="color: #242f6f"
                  ></i>
                </div>
                <div>
                  <h3
                    class="text-lg leading-normal mb-2 font-semibold text-black text-left"
                  >
                    FREE SHIPPING
                  </h3>
                  <p class="text-gray-500 text-left">
                    Free delivery every product in india
                  </p>
                </div>
              </div>
            </div>
            <!-- end service block -->
          </div>
          <div
            class="flex-shrink px-4 max-w-full w-full sm:w-1/2 md:w-1/4 lg:w-1/4 lg:px-2 wow fadeInUp"
            data-wow-duration="1s"
            style="
              visibility: visible;
              animation-duration: 1s;
              animation-name: fadeInUp;
            "
          >
            <!-- service block -->
            <div
              class="py-8 px-12 mb-12 bg-gray-50 border-b border-gray-100 transform transition duration-300 ease-in-out hover:-translate-y-2"
            >
              <div class="flex">
                <div class="inline-block text-gray-900 mb-4">
                  <i
                    class="fa-solid fa-right-left fa-2xl mr-5"
                    style="color: #242f6f"
                  ></i>
                </div>
                <div>
                  <h3
                    class="text-lg leading-normal mb-2 font-semibold text-black text-left"
                  >
                    20 DAYS RETURN
                  </h3>
                  <p class="text-gray-500 text-left">
                    Customer easily returned their product
                  </p>
                </div>
              </div>
            </div>
            <!-- end service block -->
          </div>
          <div
            class="flex-shrink px-4 max-w-full w-full sm:w-1/2 md:w-1/4 lg:w-1/4 lg:px-2 wow fadeInUp"
            data-wow-duration="1s"
            style="
              visibility: visible;
              animation-duration: 1s;
              animation-name: fadeInUp;
            "
          >
            <!-- service block -->
            <div
              class="py-8 px-12 mb-12 bg-gray-50 border-b border-gray-100 transform transition duration-300 ease-in-out hover:-translate-y-2"
            >
              <div class="flex">
                <div class="inline-block text-gray-900 mb-4">
                  <i
                    class="fa-solid fa-headphones fa-2xl mr-5"
                    style="color: #242f6f"
                  ></i>
                </div>
                <div>
                  <h3
                    class="text-lg leading-normal mb-2 font-semibold text-black text-left"
                  >
                    CUSTOMER SERVICE
                  </h3>
                  <p class="text-gray-500 text-left">
                    We are avilable Mon-Sat 10AM-7PM
                  </p>
                </div>
              </div>
            </div>
            <!-- end service block -->
          </div>
          <div
            class="flex-shrink px-4 max-w-full w-full sm:w-1/2 md:w-1/4 lg:w-1/4 lg:px-2 wow fadeInUp"
            data-wow-duration="1s"
            style="
              visibility: visible;
              animation-duration: 1s;
              animation-name: fadeInUp;
            "
          >
            <!-- service block -->
            <div
              class="py-8 px-12 mb-12 bg-gray-50 border-b border-gray-100 transform transition duration-300 ease-in-out hover:-translate-y-2"
            >
              <div class="flex">
                <div class="inline-block text-gray-900 mb-4">
                  <i
                    class="fa-sharp fa-solid fa-credit-card fa-2xl mr-5"
                    style="color: #242f6f"
                  ></i>
                </div>
                <div>
                  <h3
                    class="text-lg leading-normal mb-2 font-semibold text-black text-left"
                  >
                    SECURE PAYMENT
                  </h3>
                  <p class="text-gray-500 text-left">
                    Your payment is processed securely.
                  </p>
                </div>
              </div>
            </div>
            <!-- end service block -->
          </div>
          <!-- Repeat the above div three more times for other services -->
        </div>
      </div>
    </div>
  </body>
</html>
