<br />
<div class="sm:grid grid-cols-4 h-40 gap-4 mx-4 hidden">
  <div class="m-auto block text-gray-500 pt-2">
    <i class="text-2xl py-2 fa-solid fa-truck-fast"></i>
    <h1 class="sm:text-lg font-semibold">FREE SHIPPING</h1>
    <p class="sm:font-sans text-center mx-2">Free Shipping All Over India</p>
  </div>

  <div class="m-auto block text-gray-500 pt-2">
    <i class="text-2xl py-2 fa-solid fa-arrow-right-arrow-left"></i>
    <h1 class="sm:text-lg font-semibold">20 DAYS RETURN</h1>
    <p class="sm:font-sans text-sm text-justify mx-2">
      Any product kept in its original form of packing, tags, bills and
      condition will be entitled to be exchanged or returned if the customer
      deems so.
    </p>
  </div>

  <div class="m-auto block text-gray-500 pt-2">
    <i class="text-2xl py-2 fa-solid fa-headset"></i>
    <h1 class="sm:text-lg font-semibold">CUSTOMER SERVICE</h1>
    <p class="sm:font-sans text-justify mx-2">
      We are available from monday to saturday (10AM - 7PM)
    </p>
  </div>

  <div class="m-auto block text-gray-500 pt-2">
    <i class="text-2xl py-2 fa-solid fa-lock"></i>
    <h1 class="sm:text-lg font-semibold">SECURE PAYMENT</h1>
    <p class="sm:font-sans text-justify mx-2">
      Your payment information is processed securely.
    </p>
  </div>
</div>

<div class="sm:hidden text-justify mx-4 text-gray-500">
  <ul>
    <li>
      <i class="text-lg py-2 fa-solid fa-truck-fast"></i> FREE SHIPPING -
      <p class="text-sm">Free Shipping All Over India</p>
    </li>
    <li>
      <i class="text-lg py-2 fa-solid fa-headset"></i> CUSTOMER SERVICE -
      <p class="text-sm">
        We are available from monday to saturday (10AM - 7PM)
      </p>
    </li>
    <li>
      <i class="text-lg py-2 fa-solid fa-lock"></i> SECURE PAYMENT -
      <p class="text-sm">Your payment information is processed securely.</p>
    </li>
    <li>
      <i class="text-lg py-2 fa-solid fa-arrow-right-arrow-left"></i> 20 DAYS
      RETURN -
      <p class="text-sm">
        Any product kept in its original form of packing, tags, bills and
        condition will be entitled to be exchanged or returned if the customer
        deems so.
      </p>
    </li>
  </ul>
</div>
