{% extends 'main.html' %}
{% load tailwind_tags %}
{% block title %} Home | 
{% endblock title %} 

{% block content %}

<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KBZS69M"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

{% include 'navbar.html' %} 
{% include 'slide.html' %}
<br />


{% include 'homeproduct.html' %}


{% include 'testimonial.html' %}

<br />

{% include 'homesupport.html' %}
{% include 'footer.html' %}
{% endblock content %}
