{% extends 'main.html' %} {% load tailwind_tags %} {% load static %}
{% block title %} Account | {% endblock title %} {% block content %}


{% include 'navbar.html' %}

<br />
<br />
<div class="text-center">
    <img src=" {% static '/img/logout.png' %} " width="80em" class="block mx-auto">
<h1 class="text-2xl font-semibold text-gray-500 mt-4">
    You are logged out!
</h1>
<br />
<p class="text-gray-500">More offers available for you.</p>

<p class="text-gray-500">Thank you for shopping with us..</p>


<br /><br /><br />

</div>
<br />
<hr />
<br />
{% include 'homesupport.html' %} {% include 'footer.html' %}
{% endblock content %}
