{% load static tailwind_tags %}
{% load static %}

<!DOCTYPE html>

<html>
  <head>
<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-KGPR7JB');</script>
<!-- End Google Tag Manager -->

<meta name="msvalidate.01" content="E15818395AB5D95328C1EC0FF4579986" />



    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
    <title>
      {% block title %} {% endblock title %} Buyjoi - Online Shopping Website
      for Special Traditional Sarees, Womens wear, men wear, dress, Electronics,
      Grocery, Lifestyle, Books &amp; More. Best Offers! Best Deal Ever!
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- CSS only -->
    <script
      src="https://kit.fontawesome.com/42eb3e215f.js"
      crossorigin="anonymous"
    ></script>

    <script src="https://cdn.tailwindcss.com"></script>

    <script>
        tailwind.config = {
          plugins: [
            require('@tailwindcss/forms'),
            require('@tailwindcss/typography'),
            require('@tailwindcss/line-clamp'),
            require('@tailwindcss/aspect-ratio'),
            ],
        }
      </script>


    {% tailwind_css %}


    <!-- CSS only -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.css"
    />
    <link rel="stylesheet" href=" {% static '/css/style.css' %}" />

    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
      integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm"
      crossorigin="anonymous"
    />

    <link
      rel="icon"
      href=" {% static '/img/buyjoi.ico' %}"
      type="image/x-icon"
      sizes="16x16"
    />

    <meta
      name="og_title"
      property="og:title"
      content="- Online Shopping Site for Special Saree, Womens wear, men wear, dress, Electronics, Grocery,
            Lifestyle, Books &amp; More. Best Offers! Best Deal Ever!"
    />
    <meta
      name="Keywords"
      content="Best Saree Deal, Saree Offer, Womens wear, men wear, buy dress online, Online Shopping in India, online Shopping store, Online Shopping Site, Buy Online, Shop Online, Online Shopping, Buyjoi"
    />
    <meta
    name="author"
    content="Developed by Arjun Gupta for Company Buyjoi (owner name of company Mr. Sunil Sikaria)"
  />
    <meta
      name="Description"
      content="India&#x27;s best online website for Special Traditional Saree, Womens wear, men wear, Fashion (Clothes/Shoes), Electronics, Books, Jewelry, Sporting goods, Beauty &amp; Personal Care, Grocery and more! Payment options - COD, Credit card, Debit card, UPI, Paypal, PayTm"
    />
    <meta
      property="og:description"
      content="India&#x27;s best online website for Special Traditional Saree, Womens wear, men wear, Fashion (Clothes/Shoes), Electronics, Books, Jewelry, Sporting goods, Beauty &amp; Personal Care, Grocery and more! Payment options - COD, Credit card, Debit card, UPI, Paypal, PayTm"
    />
    <link rel="canonical" href="https://www.buyjoi.com" />
    <link rel="icon" href=" {% static '/img/buyjoi.ico' %} " type="image/x-icon" />

    {% comment %} jquery autocomplete search CSS {% endcomment %}
    <link rel="stylesheet" href=" {% static '/css/searchjquery.css' %}" />


    {% comment %} jquery autocomplete search CSS end {% endcomment %}

    <meta name="og_url" property="og:url" content="https://www.buyjoi.com" />

    {% comment %} Alertify CSS {% endcomment %}

    <link rel="stylesheet" href=" {% static '/css/alertify.css' %}" />
    <link rel="stylesheet" href=" {% static '/css/defaultalertifytheme.css' %}" />




  </head>

  <body>



    {% block content %}
    {% endblock content %}

    
    
 
    {% block script %}
    <script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
    
    <script type="text/javascript" src=" {% static '/js/jquery3.6.1.js' %} "></script>
    
    <script type="text/javascript" src=" {% static '/js/alertify.js' %} "></script>

    <script type="text/javascript" src=" {% static '/js/main.js' %} "></script>

    <script type="text/javascript" src=" {% static '/js/script.js' %} "></script>

    <script type="text/javascript" src=" {% static '/js/zoom.js' %} "></script>


    <script type="text/javascript" src=" {% static '/js/cartcode.js' %} "></script>



    <script>
        alertify.set('notifier','position', 'top-center');
        
        {% for msg in messages %}    
            alertify.success('{{ msg }}');
        {% endfor %}
    </script>

    <script type="text/javascript" src=" {% static '/js/sweetalert.js' %} "></script>

    {% endblock script %}



  </body>
</html>
