{% load static %}


<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KGPR7JB"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
<div>
<p class="text-xs text-center p-1">Upto 50% Off on all Product and Free Shipping (For India)</p>
</div>

<section class="md:hidden ">
  
  

  
  <div
    class="flex justify-between w-full bg-[#242f6f]  items-center text-white z-10 pt-2 pb-2"
  >


  <div>
    <button class="navbar-burger flex text-white p-3">
      <svg class="block h-4 w-4 fill-current" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
        <path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"></path>
      </svg>
    </button>
  </div>


  <div>
  
      <span>
        <a href="/"
          ><img src=" {% static '/img/buyjoilogoweb.jpg' %}" class="w-[55%] block mx-auto "
        /></a>
      </span>
    
  </div>

<div>
  <a
    class="text-sm {% if request.resolver_match.url_name == 'cart' %}text-orange-500 {% endif %}  hover:text-white hover:bg-orange-600"
    href="{% url 'cart' %}"
    style="font-family: 'Jost', sans-serif"
  >
  <span class=" ">
    <span class=" "></span>
    <!--   <span class="count">1</span> -->
    <i
    class="fa-solid fa-cart-shopping {% if request.resolver_match.url_name == 'cart' %} text-orange-500 {% endif %}"
  ></i>
      </a
  ></span>
</div>
 

  
<div>
  {% if request.user.is_authenticated %}

    <a
    class="text-sm px-3   hover:text-white hover:bg-orange-600"
    href="{% url 'account' %}"
    style="font-family: 'Jost', sans-serif"
  >
    <i class="fa fa-user {% if request.resolver_match.url_name == 'account' %} text-orange-500 {% endif %}" aria-hidden="true"></i></a
  >

  {% else %}

        <a
        class="text-sm px-3  hover:text-white hover:bg-orange-600"
        href="{% url 'loginpage' %}"
        style="font-family: 'Jost', sans-serif"
      >
        <i class="fa fa-user {% if request.resolver_match.url_name == 'loginpage' %} text-orange-500 {% endif %}" aria-hidden="true"></i></a
      >


      {% endif %} 

      </div>


  <div class="round-btn" id="show-search-box">
    <i class="fa fa-search flip-icon"></i>
  </div>


</div>


<div
class="flex w-full bg-[#242f6f]  justify-evenly items-center text-white z-10 pt-2 pb-2"

id="hidden-search-box"
>

<form action="{% url 'search' %}" method="get">
  {% csrf_token %}  
  <div class="max-w-xl">
   <div class="flex space-x-4">
      <div class="flex rounded-md overflow-hidden w-full">
        <input type="text" class="w-full rounded-full rounded-r-none" 
        name="query"
        id="query"
        placeholder="Search ..." 

        />

        <button type="submit"  class="bg-blue-600 text-white rounded-full rounded-l-none px-6 font-semibold py-2  relative inline-flex items-center justify-center p-4 overflow-hidden transition duration-300 ease-out border-2 border-blue-500  shadow-md group">
          <span class="absolute inset-0 flex items-center justify-center w-full h-full text-white duration-300 -translate-x-full bg-blue-500 group-hover:translate-x-0 ease">
          <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M14 5l7 7m0 0l-7 7m7-7H3"></path></svg>
          </span>
          <span class="absolute flex items-center justify-center w-full h-full text-white transition-all duration-300 transform group-hover:translate-x-full ease">Go</span>
          <span class="relative invisible text-white">Go</span>
        </button>

      </div>
    </div>
  </div>
</form>

</div>




<script>
  document.getElementById("hidden-search-box").style.display = "none";

  $('#show-search-box').click(function(){
    $("#hidden-search-box").toggle();
  });


</script>

</section>



<section>
  <script
    src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js"
    defer
  ></script>
  <div
    class="md:flex md:justify-evenly hidden text-center  w-full md:py-2 py-1 bg-gray-800 text-white z-10"
  >
    <div>
      <a
        href="https://www.facebook.com/profile.php?id=100088068714675"
        target="_blank"
        ><i class="px-2 fa-brands fa-facebook hover:text-orange-600"></i
      ></a>
      <a href="https://twitter.com/Buyjoi_com" target="_blank"
        ><i class="hover:text-orange-600 px-2 fa-brands fa-twitter"></i
      ></a>
      <a href="https://www.linkedin.com/company/buyjoicom" target="_blank"
        ><i class="px-2 fa-brands fa-linkedin hover:text-orange-600"></i
      ></a>
      <a href="https://www.instagram.com/buyjoi/" target="_blank"
        ><i class="px-2 fa-brands fa-instagram hover:text-orange-600"></i
      ></a>
    </div>

    <div
      class="hover:text-orange-600"
      style="font-family: 'Jost', sans-serif"
    >

      <a href="mailto:care@buyjoi.com">
        &nbsp; <i class="fa-solid fa-envelope"></i>&nbsp;
        <span class="text-sm">care@buyjoi.com</span>
      </a>
    </div>

    <div>
      <a
        class="text-sm {% if request.resolver_match.url_name == 'cart' %}text-orange-500 {% endif %}  hover:text-white hover:bg-orange-600"
        href="{% url 'cart' %}"
        style="font-family: 'Jost', sans-serif"
      >
      <span class="   ">
        <span class="    "></span>
        <!--   <span class="count">1</span> -->
        <i
        class="fa-solid fa-cart-shopping {% if request.resolver_match.url_name == 'cart' %}text-orange-500 {% endif %}"
      ></i>      
      Cart
        </a
      ></span>
    </div>



    <div>

    {% if request.user.is_authenticated %}
    <div class="text-center m-auto block">
      <div class="text-sm">
        <div
          @click.away="open = false"
          class="relative"
          x-data="{ open: false }"
        >
          <button
            @click="open = !open"
            class="flex flex-row items-center px-3 py-1 mt-2 rounded-full md:mt-0 md:ml-4 hover:text-white hover:bg-orange-600"
          >
            <span><i class="fa fa-user" aria-hidden="true"></i></span
            ><span style="font-family: 'Jost', sans-serif"
              >&nbsp; {{ request.user }}</span
            > 
            <svg
              fill="currentColor"
              viewBox="0 0 20 20"
              :class="{'rotate-180': open, 'rotate-0': !open}"
              class="inline w-4 h-4 mt-1 ml-1 transition-transform duration-200 transform md:-mt-1"
            >
              <path
                fill-rule="evenodd"
                d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                clip-rule="evenodd"
              ></path>
            </svg>
          </button>
          <div
            x-show="open"
            x-transition:enter="transition ease-out duration-100"
            x-transition:enter-start="transform opacity-0 scale-95"
            x-transition:enter-end="transform opacity-100 scale-100"
            x-transition:leave="transition ease-in duration-75"
            x-transition:leave-start="transform opacity-100 scale-100"
            x-transition:leave-end="transform opacity-0 scale-95"
            class="absolute right-0 w-full mt-2 z-10 origin-top-right rounded-md shadow-lg md:w-48"
          >
            <div class="px-2 py-2 bg-white rounded-md shadow z-10">
              <a
                class="block px-4 py-2 mt-2 text-gray-800 {% if request.resolver_match.url_name == 'account' %} text-white bg-orange-500 {% endif %} rounded-full hover:bg-orange-500"
                href="{% url 'account' %}"
                style="font-family: 'Jost', sans-serif"
                >My Profile</a
              >
              <a
                class="block px-4 py-2 mt-2 text-gray-800 {% if request.resolver_match.url_name == 'myorder' %} text-white bg-orange-500 {% endif %} rounded-full hover:bg-orange-500"
                href=" {% url 'myorder' %}"
                style="font-family: 'Jost', sans-serif"
                >My Orders
              </a>
              <a
                class="block px-4 py-2 mt-2 text-gray-800 {% if request.resolver_match.url_name == 'cart' %} text-white bg-orange-500 {% endif %} rounded-full hover:bg-orange-500"
                href=" {% url 'cart' %}"
                style="font-family: 'Jost', sans-serif"
              >
                My Cart
              </a>
              <a
                class="block px-4 py-2 mt-2 text-gray-800 {% if request.resolver_match.url_name == 'wishlistpage' %} text-white bg-orange-500 {% endif %} rounded-full hover:bg-orange-500"
                href=" {% url 'wishlistpage' %}"
                style="font-family: 'Jost', sans-serif"
              >
                Wishlist
              </a>
              <a
                class="block px-4 py-2 mt-2 text-gray-800 {% if request.resolver_match.url_name == 'logoutpage' %} text-white bg-orange-500 {% endif %} rounded-full hover:bg-orange-500"
                href=" {% url 'logoutpage' %}"
                style="font-family: 'Jost', sans-serif"
              >
                Logout
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% else %}


     <div>
      <a
        class="px-3 py-1 mt-2 text-sm rounded-full {% if request.resolver_match.url_name == 'loginpage' %} text-white bg-orange-500 {% endif %} md:mt-0 md:ml-4 hover:text-white hover:bg-orange-600"
        href="{% url 'loginpage' %}"
        style="font-family: 'Jost', sans-serif"
      >
        <i class="fa fa-user" aria-hidden="true"></i> Login</a
      >
     </div>
    </div>

    {% endif %} 




  </div>
  </section>




  
<section>


    <nav class="hidden md:block">


      <div class="hidden md:flex items-center justify-evenly w-auto md:space-x-6 bg-[#242f6f] py-4">
        
       

        <div>

          <a href="/"
          ><img src=" {% static '/img/buyjoilogoweb.jpg' %}" class="w-3/4"
        /></a>
        </div>


        <div>
          <form action="{% url 'search' %}" method="get">
            {% csrf_token %}  
            <div class="max-w-xl">
             <div class="flex space-x-4">
                <div class="flex rounded-md overflow-hidden w-full">
                  <input type="text" class="w-full rounded-full rounded-r-none" 
                  name="query"
                  id="query"
                  placeholder="Search ..." 

                  />

                  <button type="submit"  class="bg-blue-600 text-white rounded-full rounded-l-none px-6 font-semibold py-2  relative inline-flex items-center justify-center p-4 overflow-hidden transition duration-300 ease-out border-2 border-blue-500  shadow-md group">
                    <span class="absolute inset-0 flex items-center justify-center w-full h-full text-white duration-300 -translate-x-full bg-blue-500 group-hover:translate-x-0 ease">
                    <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M14 5l7 7m0 0l-7 7m7-7H3"></path></svg>
                    </span>
                    <span class="absolute flex items-center justify-center w-full h-full text-white transition-all duration-300 transform group-hover:translate-x-full ease">Go</span>
                    <span class="relative invisible text-white">Go</span>
                  </button>

                </div>
              </div>
            </div>
          </form>
        </div>



      

        <div>  


            <a href=" {% url 'saree' %} " class="relative inline-flex items-center justify-start px-3 py-2 overflow-hidden font-medium transition-all bg-[#242f6f] rounded-full hover:bg-white group">
              <span class="absolute inset-0 border-0 group-hover:border-[10px] ease-linear duration-100 transition-all border-white rounded-full"></span>
              <span class="text-sm relative w-full text-left text-white transition-colors duration-200 ease-in-out group-hover:text-[#242f6f]">Traditional SAREE</span>
              </a>

              <a href=" {% url 'kurti' %} " class="relative inline-flex items-center justify-start px-3 py-2 overflow-hidden font-medium transition-all bg-[#242f6f] rounded-full hover:bg-white group">
                <span class="absolute inset-0 border-0 group-hover:border-[10px] ease-linear duration-100 transition-all border-white rounded-full"></span>
                <span class="text-sm relative w-full text-left text-white transition-colors duration-200 ease-in-out group-hover:text-[#242f6f]">Stylish KURTI</span>
                </a>

                <a href=" {% url 'lehenga' %} " class="relative inline-flex items-center justify-start px-3 py-2 overflow-hidden font-medium transition-all bg-[#242f6f] rounded-full hover:bg-white group">
                  <span class="absolute inset-0 border-0 group-hover:border-[10px] ease-linear duration-100 transition-all border-white rounded-full"></span>
                  <span class="text-sm relative w-full text-left text-white transition-colors duration-200 ease-in-out group-hover:text-[#242f6f]">Festive LEHENGA</span>
                  </a>





                </div>
      </nav>
    <div class="navbar-menu relative z-50 hidden">
      <div class="navbar-backdrop fixed inset-0 bg-gray-800 opacity-25"></div>
      <nav class="fixed top-0 left-0 bottom-0 flex flex-col w-5/6 max-w-sm py-6 px-6 bg-[#242f6f] border-r overflow-y-auto">
        <div class="flex items-center mb-8">
          <a class="mr-auto text-3xl font-bold leading-none" href="/">
            <img src=" {% static '/img/buyjoilogoweb.jpg' %}" class="w-[55%] pl-4 pt-1"
            />
          </a>
          <button class="navbar-close">
            <svg class="h-6 w-6 text-gray-400 cursor-pointer hover:text-gray-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path>
            </svg>
          </button>
        </div>
        <div>
          <ul>
            <li class="mb-1">
              <a href=" {% url 'saree' %} " class="block p-4 text-sm font-semibold {% if request.resolver_match.url_name == 'saree' %} text-orange-500 {% endif %} text-gray-400 hover:bg-blue-50 hover:text-[#242f6f] rounded" >Traditional SAREE</a>
            </li>
            <li class="mb-1">
              <a  href=" {% url 'kurti' %} " class="block p-4 text-sm font-semibold {% if request.resolver_match.url_name == 'kurti' %} text-orange-500 {% endif %} text-gray-400 hover:bg-blue-50 hover:text-[#242f6f] rounded">Stylish KURTI</a>
            </li>
            <li class="mb-1">
              <a href=" {% url 'lehenga' %} " class="block p-4 text-sm font-semibold {% if request.resolver_match.url_name == 'lehenga' %} text-orange-500 {% endif %} text-gray-400 hover:bg-blue-50 hover:text-[#242f6f] rounded" >Festive LEHENGA</a>
            </li>




          </ul>
        </div>
        <div class="mt-auto">
          <div class="pt-6">
            {% if request.user.is_authenticated %}
            <p class="p-4 text-sm font-semibold text-white underline ">
              Welcome &nbsp;<i class="fa fa-user" aria-hidden="true"></i>&nbsp; {{ request.user }}!
            </p>
            <ul>
            <li class="mb-1">
              <a href="{% url 'account' %}" class="block p-4 text-sm font-semibold {% if request.resolver_match.url_name == 'account' %} text-orange-500 {% endif %} text-gray-400 hover:bg-blue-50 hover:text-[#242f6f] rounded" >My Profile</a>
            </li>
            <li class="mb-1">
              <a href=" {% url 'myorder' %}" class="block p-4 text-sm font-semibold {% if request.resolver_match.url_name == 'myorder' %} text-orange-500 {% endif %} text-gray-400 hover:bg-blue-50 hover:text-[#242f6f] rounded">My Orders</a>
            </li>
            <li class="mb-1">
              <a href=" {% url 'cart' %}" class="block p-4 text-sm font-semibold {% if request.resolver_match.url_name == 'cart' %} text-orange-500 {% endif %} text-gray-400 hover:bg-blue-50 hover:text-[#242f6f] rounded">My Cart</a>
            </li>
            <li class="mb-1">
              <a href=" {% url 'wishlistpage' %}" class="block p-4 text-sm font-semibold {% if request.resolver_match.url_name == 'wishlistpage' %} text-orange-500 {% endif %} text-gray-400 hover:bg-blue-50 hover:text-[#242f6f] rounded">My Wishlist</a>
            </li>

            <li>
            <a  href=" {% url 'logoutpage' %}"
            class="block px-4 py-3 mb-2 leading-loose text-xs text-center  rounded-xl  {% if request.resolver_match.url_name == 'logoutpage' %} text-white bg-[#242f6f] {% endif %} text-white font-semibold bg-blue-600 hover:bg-blue-700 ">Logout</a>
            </li>
          </ul>
          {% else %}

          <a href="{% url 'loginpage' %}"
          class="block px-4 py-3 mb-2 leading-loose text-xs text-center   rounded-xl {% if request.resolver_match.url_name == 'loginpage' %} text-white bg-[#242f6f] {% endif %} text-gray-200 hover:border-0 border border-white font-semibold bg-grey-100 hover:bg-blue-700 ">Login</a>
          
          <a href="{% url 'register' %}"
          class="block px-4 py-3 mb-2 leading-loose text-xs text-center   rounded-xl {% if request.resolver_match.url_name == 'loginpage' %} text-white bg-[#242f6f] {% endif %} text-white font-semibold bg-blue-600 hover:bg-blue-700 ">Register</a>

        </div>
    
        {% endif %} 

          </div>
          <p class="my-4 text-xs text-center text-gray-400">
            <span>Copyright © 2023</span>
          </p>
        </div>
      </nav>
    </div>




  <script>

    // Burger menus
document.addEventListener('DOMContentLoaded', function() {
  // open
  const burger = document.querySelectorAll('.navbar-burger');
  const menu = document.querySelectorAll('.navbar-menu');

  if (burger.length && menu.length) {
      for (var i = 0; i < burger.length; i++) {
          burger[i].addEventListener('click', function() {
              for (var j = 0; j < menu.length; j++) {
                  menu[j].classList.toggle('hidden');
              }
          });
      }
  }

  // close
  const close = document.querySelectorAll('.navbar-close');
  const backdrop = document.querySelectorAll('.navbar-backdrop');

  if (close.length) {
      for (var i = 0; i < close.length; i++) {
          close[i].addEventListener('click', function() {
              for (var j = 0; j < menu.length; j++) {
                  menu[j].classList.toggle('hidden');
              }
          });
      }
  }

  if (backdrop.length) {
      for (var i = 0; i < backdrop.length; i++) {
          backdrop[i].addEventListener('click', function() {
              for (var j = 0; j < menu.length; j++) {
                  menu[j].classList.toggle('hidden');
              }
          });
      }
  }
});

  </script>


</section>




