{% extends 'main.html' %} {% load tailwind_tags %} {% load static %}
{% block title %} Privacy-Policy | {% endblock title %} {% block content %}


{% include 'navbar.html' %}

<br />
<br />

<div class="text-center mx-[10%]">
    <h1 class="font-semibold text-2xl">PRIVACY POLICY
        <h1>

<p class="text-left">
    We appreciate the confidence you invest in us and understand how crucial secure transactions and information privacy are. The Buyjoi Ecommerce Platform and its affiliates (collectively "Buyjoi, we, our, us") collect, use, disclose, or otherwise handle your personal information through the Buyjoi website, buyjoi.com, as described in this Privacy Policy.
<br>
While you might be able to browse some areas of the Platform without creating an account with us, please be aware that we do not provide any goods or services through our Platform to customers outside of India without Pre-Payment (and Delivery charges outside will be applicable extra based on place and weight of product). Your personal information may be processed and kept in India, which may have different data protection legislation than the nation in which you are now based. You expressly agree to be bound by the terms and conditions of this Privacy Policy, as well as the terms and conditions of any applicable services or products, and to be governed by the laws of India, including but not limited to the laws governing data protection and privacy, by visiting this Platform, providing your information, or using any product or service. Please refrain from using or gaining access to our Platform if you disagree.
<br><br>
Getting Your Information Collected<br>
When you use our Platform, we periodically get information from you that we collect and store. Generally, you are not required to identify yourself or provide any personal information in order to use the Platform. You are no longer anonymous to us after you provide us your personal information. We try to make it clear which fields are necessary and which ones are optional. You can always choose not to disclose information by forgoing using a specific service, item, or feature on the Platform.<br>
We may keep tabs on the purchasing habits, preferences, and other data you choose to share on our platform. To better understand, safeguard, and serve our users, we conduct internal research using this data on their demographics, interests, and behaviour. This data is gathered and evaluated on an aggregate level. <br>
When you create an account, deal with us, or take part in an event or contest, we may ask you for personal information (including your email address, delivery address, name, phone number, credit card or debit card information, and details of other payment instruments). Some areas of our Platform allow you to explore without registering, but other activities (such placing a purchase or using our online content or services) do require registration. We send you offers based on your past purchases and interests using your contact information.<br>
As allowed by law, we keep this information as long as it's required to settle disputes, offer customer support, troubleshoot issues, or conduct internal research and analysis.<br>
We may compile information about you into a file if you send us personal correspondence, including emails or letters, or if other users or third parties send us contact regarding your actions or postings on the Platform.<br>
We use your personal information to provide the product and services you request. To the extent we use your personal information to market to you, we will provide you the ability to opt-out of such uses. We use your personal information to assist sellers and business partners in handling and fulfilling orders; enhancing customer experience; resolve disputes; troubleshoot problems; help promote a safe service; collect money; measure consumer interest in our products and services; inform you about online and offline offers, products, services, and updates; customize and enhance your experience; detect and protect us against error, fraud and other criminal activity; enforce our terms and conditions; and as otherwise described to you at the time of collection of information.<br>
<br>
<b>Shipping Policy</b><br><br>
<b>What are the delivery charges?</b>
<br>Delivery charge varies with each Seller, Almost maximum delivery charges nil for India.

<br>Based on the dates displayed on the product page, it is conceivable that the Seller or one of our courier partners will be closed for a holiday between the day you make your purchase and the day of delivery. In this instance, the anticipated date is increased by one day. The delivery dates account for the fact that some courier partners and Sellers are closed on Sundays.
<br>
<b>What is the estimated delivery time?</b><br>
Sellers generally procure and ship the items within the time specified on the product page. Business days exclude public holidays and Sundays.
<br>Estimated delivery time depends on the following factors:
<br>•	The Seller offering the product
<br>•	Product's availability with the Seller
<br>•	The destination to which you want the order shipped to and location of the Seller.
<br>
<b>Are there any hidden costs (sales tax, octroi etc) on items sold by Sellers on Buyjoi?</b><br>
There are NO hidden charges when you make a purchase on Buyjoi. List prices are final and all-inclusive. The price you see on the product page is exactly what you would pay.
Delivery charges are not hidden charges and are charged (if at all) extra depending on the Seller's shipping policy. Almost Maximum products has no delivery charges.
Availability of COD depends on the ability of our courier partner servicing your location to accept cash as payment at the time of delivery.
Our courier partners have limits on the cash amount payable on delivery depending on the destination and your order value might have exceeded this limit. Please enter your pin code on during checkout form, so we try to available in your location.
<br>
<b>I need to return an item, how do I arrange for a pick-up?</b><br>
Returns are easy. Contact Us to initiate a return. You will receive a call explaining the process, once you have initiated a return. Just Send Message in Whatsapp and initiate return.
<br>Wherever possible Multiple Logistics will facilitate the pick-up of the item. In case, the pick-up cannot be arranged through Logistics, you can return the item through a third-party courier service. Return fees are borne by the Seller.
<br>
<b>I did not receive my order but got a delivery confirmation SMS/Email.</b><br>
In case the product was not delivered and you received a delivery confirmation email/SMS, report the issue within 7 days from the date of delivery confirmation for the seller to investigate.
<br>
<b>What do the different tags like "In Stock", "Available" mean?</b><br>
'In Stock'
<br>For items listed as "In Stock", Sellers will mention the delivery time based on your location pincode (usually 2-3 business days, 4-5 business days or 4-6 business days in areas where standard courier service is available). For other areas, orders will be sent by Registered Post through the Indian Postal Service which may take 1-2 weeks depending on the location.

<br><br>
<b>Cancellation Policy</b><br>
If a consumer cancels purchases on the Platform, a cancellation fee may be assessed against them (the "Cancellation Fee"). When a customer chooses to cancel an order after placing or confirming it on the platform, a cancellation fee will be assessed based on the time frame. It is made clear that free purchase cancellations are only available during the first few hours after placing an order, as stated expressly on the product page. After that point, the related products will be subject to a cancellation fee.
<br>
<b>Why is Cancellation Fee charged?</b><br>
Cancellation A fee is levied to cover the costs associated with the seller's time, effort, and processing of an order as well as those of the logistics service providers who incur expenses in shipping the item.

<br><br>
<b>Returns and Refund Policy</b><br>
Returns and Refund are a service offered directly by the relevant vendors under this policy, as part of which you are given the choice of an exchange, replacement, or refund.
<br>In our return and refund policy, Buyer must have to apply for return or exchange within 4 days after delivery date. We will connect with Delivery partners and update you pick-up schedule at mentioned address.
<br>Return or Replacement will take 10 to 15 days maximum, after your request/ application.
<br>For any Technical fault, In order to help you resolve issues with your product, we may troubleshoot your product either through online tools, over the phone, via whatsapp and/or through an in-person technical visit.
<br>We delivery all products after multiple test and verify. In some cases where a Returned product is found damaged or old or not matched with original, the buyer may lost product equivalent amount due to misbehave, at the seller’s pov.
<br>Refund Timeline: We would check returned product and provide you actual amount via online in your account within 25 days.

<br><br>
<b>Delivery Timeline</b><br>
Usually, it takes 3 to 10 days. We deliver product within locality for next 3 days and for Different corner of Country takes 10 days maximum.

<br><br><br>
<b>Contact Details:</b><br>
Mr. Sikaria<br>
Founder and Owner<br>
Buyjoi Ecommerce Platform<br>
370, 2nd Floor, Block-K, <br>
Opp. Yes Bank, New Alipore<br>
Kolkata-700053<br>
Email: info@buyjoi.com<br>
Time: Mon - Sat (10:00 - 19:00)<br>
<br>
Developer and Technical Support<br>
Contact Person – Arjun Gupta<br>
Email id – care@buyjoi.com<br>


</p>
</div>


<br />
<hr />
<br />
{% include 'homesupport.html' %} {% include 'footer.html' %} 
{% endblock content %}
