

{% extends 'main.html' %} {% load tailwind_tags %} {% load static %}
{% block title %} Shopping Cart | {% endblock title %}
{% block content %}


{% include 'navbar.html' %}

<div class="container mx-auto ">
<h1 class="mx-2 text-2xl font-semibold mt-6">Shopping Cart</h1>
<hr class="my-2" />
</div>

  

{% if cart %}

<div class="container mx-auto">
  <div class="md:grid md:grid-cols-3">

  {% for item in cart %}

      <div class="mx-4 my-4 product_data border-2 py-4 px-4 ">
      
        <div class="pr-4 containerimg1 mx-4 border-gray-300 px-4">
          <img
            src="{{ item.product_image1.url }}"
                width="auto"
                height="auto"
          />
        </div>
        <div class="">
        <a href="{{ item.category }}/{{ item.slug }} " ><h1 class="py-2 text-lg font-semibold">
          {{ item.name }}           
        </h1></a></div>

        <div class="my-2">
        <span class=" bg-gray-200 text-black  py-2 rounded-full px-4 border border-[#242f6f]">
            Final Price: &nbsp; &#8377;{{ item.selling_price | stringformat:'d' }}
        </span>  &nbsp; <strike>&#8377;{{ item.original_price | stringformat:'d' }} </strike></div>
        <div class="mt-4">
          <input type="hidden" value="{{ item.product_id }}" class="prod_id">
      </div>

             <p class="py-2 text-sm">
          Avilable Quantity: {{ item.quantity }}
        </p>     
        <p class="py-2 text-sm">
          {{ item.small_description }}
        </p>


        <div>
          <a href="{% url 'remove_item_from_session' item_id=item.id %}">
  <button type="button" class="text-sm bg-[#242f6f] text-white py-3 px-5 rounded-full hover:bg-gray-200 hover:text-black">
    <i class="fa fa-trash"></i>&nbsp;  Remove
  </button>
</a>
              <button
              type="button"
              class=" text-sm bg-[#242f6f] text-white py-3 px-5 rounded-full hover:bg-gray-200 hover:text-black"
              > <i class="fa-solid fa-heart"></i>&nbsp; Add to Wishlist </button></a>
        </div>

      </div>

  {% endfor %}

  </div>
</div>

        <div class="mt-8 text-center mx-[20%]">
        <a href=" {% url 'checkoutpage' %}" class=" bg-[#ff8757] text-black hover:text-white py-3 rounded-full px-8 border border-gray-500 hover:bg-[#421806] text-lg">
            Checkout
        </a>
        </div>

      <hr class="my-4" />

      <br><br>
{% else %}


    <div class="text-lg font-semibold  text-center mx-[20%]">
      Your CART is Empty. Please Add product in your cart.

    </div>


{% endif %}

<div class="mt-4  text-center mx-[20%]">
  <a
    href=" {% url 'index' %} "
    class="text-xs bg-[#242f6f] text-white py-2 rounded-full px-4 hover:bg-gray-200 hover:text-black"
    >Shopping Continue..</a>
</div>


<br />
<hr>
<br />

{% include 'homesupport.html' %} {% include 'footer.html' %} 


{% endblock content %}


