{% load static %}
<div class="bg-[#242f6f] mt-[-20px]">
  <div class="h-14">
    <h1
      class="text-3xl text-center text-white font-bold py-6 my-4"
      style="font-family: 'Jost', sans-serif"
    >
      - - - - - Testimonial - - - - -
    </h1>
  </div>

  <br />
  <hr class="mx-[7%] opacity-70" />
  <br />

  <!-- Swiper -->
  <div class="swiper mySwiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <div class="w-full h-auto bg-[#242f6f]">
          <div class="sm:flex sm:mx-24 gap-4">
<div class="text-center m-auto block">
              <div class="hidden sm:block sm:w-48 w-28 h-auto">
                <img class="rounded-xl shadow shadow-white mb-2" src="/static/img/testi/testimonial.jpg" alt="" />
              </div>
              <div class="sm:hidden block mx-auto w-28 h-auto">
                <img  class="rounded-xl shadow shadow-white mb-3" src="/static/img/testi/testimonial.jpg" alt="" />
              </div>
</div>
<div class="text-center m-auto block">
              <div class="mx-4">
                <p class="text-white sm:mt-9 text-left">
                  “Cloth Material is Good and the Product Colors are exactly
                  same as shown in the image. Awesome colour, Beautiful design.
                  It's even more Beautiful than the picture here. Very much
                  satisfied. Thank you”
                </p>

                <p class="text-[#feda82] text-left">Radha Gunjan</p>
                <p class="text-[#a1a1a1] text-left">School Teacher, Delhi</p>
              </div>
</div>
          </div>
        </div>
      </div>

      <div class="swiper-slide">
        <div class="w-full h-auto bg-[#242f6f]">
          <div class="sm:flex sm:mx-24 gap-4">
<div class="text-center m-auto block">
              <div class="hidden sm:block sm:w-48 w-28 h-auto">
                <img class="rounded-xl shadow shadow-white mb-2" src="/static/img/testi/testimonial1.jpg" alt="" />
              </div>
              <div class="sm:hidden block mx-auto w-28 h-auto">
                <img class="rounded-xl shadow shadow-white mb-3" src="/static/img/testi/testimonial1.jpg" alt="" />
              </div>
</div>
      <div class="text-center m-auto block">
                  <div class="mx-4">
                <p class="text-white sm:mt-9 text-left">
                  “I bought a Handicrafted Saree for my Mother. Amazing Saree nice product, According to price is perfect
              and nice for occasions. Thanks”
                </p>

                <p class="text-[#feda82] text-left">Suraj Gupta</p>
                <p class="text-[#a1a1a1] text-left">Student, Lakhnaw</p>
              </div>
          </div>
          </div>
        </div>
      </div>

      <div class="swiper-slide">
        <div class="w-full h-auto bg-[#242f6f]">
          <div class="sm:flex sm:mx-24 gap-4">
<div class="text-center m-auto block">
              <div class="hidden sm:block sm:w-48 w-28 h-auto">
                <img class="rounded-xl shadow shadow-white mb-2" src="/static/img/testi/testimonial2.jpg" alt="" />
              </div>
              <div class="sm:hidden block mx-auto w-28 h-auto">
                <img class="rounded-xl shadow shadow-white mb-3" src="/static/img/testi/testimonial2.jpg" alt="" />
              </div>
            </div>
<div class="text-center m-auto block">

                  <div class="mx-4">
                <p class="text-white sm:mt-9 text-left">
                  “My girlfriend's favorite portal, she feel amazing here. Dresses perfect fit as expected. 
                  Overall dresses definitely gives a good
                  look.”
                </p>

                <p class="text-[#feda82] text-left">Arvind Kumar</p>
                <p class="text-[#a1a1a1] text-left">Engineer, Bihar</p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="swiper-slide">
        <div class="w-full h-auto bg-[#242f6f]">
          <div class="sm:flex sm:mx-24 gap-4">
        <div class="text-center m-auto block">
              <div class="hidden sm:block sm:w-48 w-28 h-auto">
                <img class="rounded-xl shadow shadow-white mb-2" src="/static/img/testi/testimonial3.jpg" alt="" />
              </div>
              <div class="sm:hidden block mx-auto w-28 h-auto">
                <img class="rounded-xl shadow shadow-white mb-3" src="/static/img/testi/testimonial3.jpg" alt="" />
              </div>
            </div>
<div class="text-center m-auto block">
                  <div class="mx-4">
                <p class="text-white sm:mt-9 text-left">
                  “I bought a Salwar. Exactly the same shown in the picture.
                  Loved the quality and the fit is perfect. Beautiful dress..
                  must buy. Thanks”
                </p>

                <p class="text-[#feda82] text-left">Reema Kumari</p>
                <p class="text-[#a1a1a1] text-left">Model, Delhi</p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="swiper-slide">
        <div class="w-full h-auto bg-[#242f6f]">
          <div class="sm:flex sm:mx-24 gap-4">
<div class="text-center m-auto block">
                  <div class="hidden sm:block sm:w-48 w-28 h-auto">
                <img class="rounded-xl shadow shadow-white mb-2" src="/static/img/testi/testimonial4.jpg" alt="" />
              </div>
              <div class="sm:hidden block mx-auto w-28 h-auto">
                <img class="rounded-xl shadow shadow-white mb-3" src="/static/img/testi/testimonial4.jpg" alt="" />
              </div>
            </div>
        <div class="text-center m-auto block">
                  <div class="mx-4">
                <p class="text-white sm:mt-9 text-left">
                  “I love this product! It goes with everything and it fits
                  really well. The quality is exactly what I wanted, it isn't
                  too thin that ruins shape, it isn't too thick too make you
                  feel hot. Just perfect and a wardrobe essential. I bought both
                  white and black.”
                </p>

                <p class="text-[#feda82] text-left">Voomi William</p>
                <p class="text-[#a1a1a1] text-left">Designer, Goa</p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="swiper-slide">
        <div class="w-full h-auto bg-[#242f6f]">
          <div class="sm:flex sm:mx-24 gap-4">
            <div class="text-center m-auto block">
              <div class="hidden sm:block sm:w-48 w-28 h-auto">
                <img class="rounded-xl shadow shadow-white mb-2" src="/static/img/testi/testimonial5.jpg" alt="" />
              </div>
              <div class="sm:hidden block mx-auto w-28 h-auto">
                <img class="rounded-xl shadow shadow-white mb-3" src="/static/img/testi/testimonial5.jpg" alt="" />
              </div>
            </div>
<div class="text-center m-auto block">
                  <div class="mx-4">
                <p class="text-white sm:mt-9 text-left">
                  “Amazing buy seriously ❤️ perfect fit perfect stitching. My
                  best purchase ever from Buyjoi in this 7 yrs of experience.
                  Seriously guys if you are ok with the length just buy it. I
                  was sceptical before buying bt now am glad I had my hands on
                  this.”
                </p>

                <p class="text-[#feda82] text-left">Uma Siwani</p>
                <p class="text-[#a1a1a1] text-left">Dancer, Mumbai</p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="swiper-slide">
        <div class="w-full h-auto bg-[#242f6f]">
          <div class="sm:flex sm:mx-24 gap-4">
        <div class="text-center m-auto block">
                  <div class="hidden sm:block sm:w-48 w-28 h-auto">
                <img class="rounded-xl shadow shadow-white mb-2" src="/static/img/testi/testimonial6.jpg" alt="" />
              </div>
              <div class="sm:hidden block mx-auto w-28 h-auto">
                <img class="rounded-xl shadow shadow-white mb-3" src="/static/img/testi/testimonial6.jpg" alt="" />
              </div>
            </div>
<div class="text-center m-auto block">
                  <div class="mx-4">
                <p class="text-white sm:mt-9 text-left">
                  “Beautiful and light weight looks perfect for small family
                  function. Good product according to price. Stiching quality
                  nice. Thank you”
                </p>

                <p class="text-[#feda82] text-left">Payal Ghosh</p>
                <p class="text-[#a1a1a1] text-left">Doctor, Kolkata</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
  </div>

  <!-- Swiper JS -->
  <script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script>

  <!-- Initialize Swiper -->
  <script>
    var swiper = new Swiper(".mySwiper", {
      spaceBetween: 30,
      centeredSlides: true,
      autoplay: {
        delay: 2500,
        disableOnInteraction: false,
      },
      navigation: {
        nextEl: ".swiper-button-next",
        prevEl: ".swiper-button-prev",
      },
    });
  </script>

  <div class="bg-[#242f6f] m-0">
    <br />
    <hr class="mx-[7%] opacity-70" />
    <br />
  </div>
</div>
