{% extends 'main.html' %} {% load tailwind_tags %} {% load static %}
{% block title %} Thank you | {% endblock title %} {% block content %}


{% include 'navbar.html' %}

<br />
<br />
<div class="block m-auto">
    <img src=" {% static '/img/shopping.jpg' %} " width="240em">
<h1 class="text-2xl font-semibold text-gray-500 mt-4">
    Congratulations! <p class="text-lg">Your Order has been Confirmed.  </p>
</h1>
<br />
<p class="text-gray-500">More offers available for you.</p>

<p class="text-gray-500">Thank you for shopping with us..</p>

</div>
<br /><br /><br />


<br />
<hr />
<br />
{% include 'homesupport.html' %} {% include 'footer.html' %}
{% endblock content %}
