{% extends 'main.html' %} {% load tailwind_tags %} {% load static %}
{% block title %} My Order List | {% endblock title %} {% block content %}


{% include 'navbar.html' %}

<br />
<div class="float-right ">
  <a class="shadow mx-6 hover:border-[#242f6f] border-[#242f6f] border-2 rounded-full focus:outline-none focus:border-[#242f6f] px-8 py-2 text-white bg-[#4d4444] hover:bg-white hover:text-black" href="{% url 'myorder' %}">Back to my order page</a>
  </div><br /><br /><br /><br />


<div class="overflow-hidden">
<div>
    <h1 class="sm:text-2xl text-lg text-center font-semibold text-gray-800">
      Your order view
    </h1>
  </div>
  <br /><br />
  <div
    class="hidden lg:flex flex-col justify-start items-start container mx-[10%]"
  >
    <table class="w-4/5 mt-16 whitespace-nowrap">
      <thead
        aria-label="table heading"
        class="w-4/5 h-16 text-left py-6 bg-gray-50 border-gray-200 border-b"
      >
        <tr>
          <th
            class="text-base font-medium leading-4 text-gray-600  text-left pl-6"
          >
            YOUR PRODUCT
          </th>
          <th
            class="text-base font-medium leading-4 text-gray-600  text-left pl-6"
          >
            PRODUCT NAME
          </th>
          <th
            class="text-base font-medium leading-4 text-gray-600  text-left pl-6"
          >
            QUANTITY
          </th>
          <th
            class="text-base font-medium leading-4 text-gray-600  text-center pl-6"
          >
            PRICE
          </th>
        </tr>
      </thead>
      {% for item in orderitems %}
      <tbody class="w-4/5 text-left">
        <tr class="border-gray-200 border-b">
          <th>
            <img
              class="pl-6 py-4 w-36 h-auto"
              src=" {{ item.product.product_image1.url }} "
              alt=" {{ item.product.name }} "
            />
          </th>

          <th
            class="mt-10 text-base font-medium leading-4 text-gray-600 text-left pl-6"
          >
            <p class="text-base leading-4 text-gray-800 ">
              {{ item.product.name }}
            </p>
          </th>
          <th class="text-center">
            <p class="text-base leading-4 text-gray-800 ">
                {{ item.quantity }}
              </p>
          </th>

          <th
            class="text-base font-medium leading-4 text-gray-800 text-center"
          >
          <p class="font-semibold">
            &#8377; {{ item.price | stringformat:'d' }}
          </p>
        </th>
        </tr>
      </tbody>

      {% endfor %}
    </table>
  </div>
  <!-- Desktop Responsive End -->

  <!-- Mobile Responsive Start -->
  <div class="block m-auto ">
    <div
      class="lg:hidden border-solid border-gray-500 border-2 flex flex-col justify-center items-center container mx-[10%]"
    >
      {% for item in orderitems %}
      <div class="border-gray-200 border-b pb-10">


        <div>
          <img
            class="w-72 h-auto"
            src=" {{ item.product.product_image1.url }} "
            alt=" {{ item.product.name }} "
          />
        </div>

        <br />

        <div class=" w-72">{{ item.product.name }}</div>
        <br />
            <div class="w-72">Quantity: {{ item.quantity }}</div>

        <br />
        <div class="w-72">Price``: &#8377; {{ item.price | stringformat:'d' }}</div>


      </div>
      {% endfor %}
    </div>
  </div>
  <!-- Mobile Responsive End -->
</div>

<div class="px-4 py-4 sm:flex justify-around">
  <div>
<h1 class="font-semibold text-lg">Grand Total: &nbsp;&nbsp;

        &#8377; {{ order.total_price | stringformat:'d' }}
     </h1>

      <p> <span class="font-semibold text-lg"> Payment Mode: </span>
        <span class="font-semibold"> 
            {{ order.payment_mode }}
        </span>

      </p>
      <p> <span class="font-semibold text-lg"> Order Status: </span>
        <span class="font-semibold"> 
            {{ order.status }}
        </span>

      </p>
      <p> <span class="font-semibold text-lg"> Tracking ID: </span>
        <span class="font-semibold"> 
            {{ order.tracking_no }}
        </span>

      </p>
  </div>
<div>
<h1 class="font-semibold text-lg">Shipping Details</h1>
<div>
<p class="font-semibold">Name: {{ order.fname }} {{ order.lname }}</p>

  </div>
  <div>
<p class="font-semibold">Phone: {{ order.phone }}</p>
  </div>
  <div>
    <p><h2 class="font-semibold">Address:</h2><br> {{ order.flat }}, {{ order.area }}</p>
     <p>{{ order.landmark }}, {{ order.city }}</p>
     <p>{{ order.state }}, Pincode: {{ order.pincode }}</p>
     <p>{{ order.country }}</p>
     <p>{{ order.addresstype }}</p>

  </div>
</div>
</div><br />


<hr />
<br />
{% include 'homesupport.html' %} {% include 'footer.html' %} 
{% endblock content %}
