{% extends 'main.html' %} {% load tailwind_tags %} {% load static %}
{% block title %} Account | {% endblock title %} {% block content %}

<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KBZS69M"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

{% include 'navbar.html' %}
<img src="{{ category_image.url }}" class="m-0 w-full" />



<br />

<div class="ml-4 flex">

    <div class="hidden md:block pl-2">
        <p  class="font-semiboldfont-semibold py-4"> Category </p>
        <ul>
           <a href=" {% url 'saree' %} "> <li class=" text-sm">
                1. Saree
            </li> </a>
            
           <a href=" {% url 'fashion' %} "> <li  class="  text-sm">
                2. Fashion
            </li> </a>
           
            <a href=" {% url 'grocery' %} " > <li class=" text-sm ">
                3. Grocery
            </li> </a>
            
            <a href=" {% url 'pharmacy' %} " > <li class="  text-sm">
                4. Pharmacy
            </li> </a>
            
            <a href=" {% url 'home' %} " > <li class=" text-sm ">
                5. Appliances
            </li> </a>
            
            <a href=" {% url 'baby' %} "> <li  class=" text-sm ">
                6. Baby
            </li> </a>
           
            <a href=" {% url 'cosmetics' %} "> <li  class=" text-sm ">
                7. Beauty
            </li> </a>
            
            <a href=" {% url 'books' %} " > <li class="  text-sm">
                8. Books
            </li> </a>

            <a href=" {% url 'carmotorbike' %} "> <li  class=" text-sm ">
                9. Car & Motorbike
            </li> </a>
            
            <a href=" {% url 'computers' %} "> <li  class=" text-sm ">
                10. Computers & Accessories
            </li> </a>
            
        </ul>
    </div>

    <div class="hidden md:block border-r-4 border-gray-500 mt-4 mx-4 opacity-30">
    </div>


    <div class="">
        <h1 class="px-4 text-2xl font-semibold py-4">
            Category: {{ category_name.name }}
        </h1>
           <div class="px-4  justify-between sm:grid sm:grid-cols-2 gap-4 md:grid-cols-3  lg:grid-cols-4">

            {% for item in products %}
            <div class=" box-border w-60 h-auto p-4   shadow-md hover:scale-110 ">
                    <div class="m-auto block"
                    <a href="#"> <image class="prodimg"  src=" {{ item.product_image1.url }} " alt="Product image" width="200px" height="auto">
                        <div class="truncate lg:flex lg:justify-center">
                            <span>
                            <h1 class="font-semibold"> {{ item.name }} </h1>
                        </span>
                        <span class="lg:block hidden"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  </span>
                            <span>
                                <p class="font-semibold">&#8377;{{ item.selling_price | stringformat:'d' }}</p>
                            </span>
                        </div>
                    </a>
                </div>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star-half-full checked"></span>
                  <span><a href="#" class="text-sm text-gray-500">{{ item.rating_number }} reviews</a></span>
        
                    <p class="text-sm mx-4 text-justify">{{ item.small_description }}
                    </p>
        
                <br/>

                    <div class="m-auto block">
                <div>
                    <a href=" {% url 'productview' item.category.slug item.slug %} "
                    class="shadow hover:border-[#242f6f] border-[#242f6f] border-2 rounded-full focus:outline-none focus:border-[#242f6f] mt-4 px-7 py-2 text-white bg-[#242f6f] hover:bg-white hover:text-black"
                    >View More
                    </a>
                    </div> 
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
        

        



            {% comment %} Pagination code {% endcomment %}

            <br>
            
<div class="mt-16 mb-4 text-right">

<nav aria-label="Page navigation example ">
    <ul class="inline-flex -space-x-px">
      <li>
        <a href="#" class="py-2 px-3 ml-0 leading-tight text-gray-500 bg-white rounded-l-lg border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">Previous</a>
      </li>
      <li>
        <a href="#" class="py-2 px-3 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">1</a>
      </li>
      <li>
        <a href="#" class="py-2 px-3 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">2</a>
      </li>
      <li>
        <a href="#" aria-current="page" class="py-2 px-3 text-blue-600 bg-blue-50 border border-gray-300 hover:bg-blue-100 hover:text-blue-700 dark:border-gray-700 dark:bg-gray-700 dark:text-white">3</a>
      </li>
      <li>
        <a href="#" class="py-2 px-3 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">4</a>
      </li>
      <li>
        <a href="#" class="py-2 px-3 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">5</a>
      </li>
      <li>
        <a href="#" class="py-2 px-3 leading-tight text-gray-500 bg-white rounded-r-lg border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">Next</a>
      </li>
    </ul>
  </nav>

  </div>
    {% comment %} pagination code ends {% endcomment %}















        </div>
        

        







    </div>



</div>






<br />
<hr />
<br />
{% include 'homesupport.html' %} {% include 'footer.html' %}
{% endblock content %}
